.a
  .b{style: 'float:left; padding-left:20px'}
    %input{name: "#{@abstract_model.to_s.parameterize.underscore}[#{field.name}][_]"}
    = link_to "<i class=\"icon-search\"></i> ".html_safe + t('admin.actions.test_transformation.action_name'), '#', data: { link: '/captcha'}, class: 'btn btn-info', style: 'margin-left:10px', id: 'test-transformation'
